//Wifi station name:
const char* SSID = "";

//Wifi Password:
const char* WIFI_PWD = "";

//MQTT broker: leave as-is for Adafruit IO
const char* MQTT_SERVER = "io.adafruit.com";

const int   MQTT_PORT = 1883;

//Your Adafruit Username:
const char* MQTT_USER = "";

//Your secret AIO key:
const char* MQTT_PWD = "";

//Feeds
const char* FEED_COFFEE = "";
const char* FEED_BATTERY = "";

//Hardware configuration
const int   HX711_DATA = 14; //GPIO14 (D5)
const int   HX711_CLK = 13; //GPIO13 (D7)
const int   RTC_MAGIC = 0x75a78fc5;
const int   BATT_FULL = 2812;
const int   BATT_CUTOFF = 2280;
const float SCALE_CALIBRATION = -99300; //manually adjust constant to match load cell reading to a known weight

//Timings
const int STARTUPDELAY = 60000; // 1 minute, used in delay()
const int SLEEPTIME = 60 * 60 * 1000000; // 60 minutes, used in deepSleep()

//Debugging options
const bool  SEND_DATA = true;
